<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h1>My Cheeses</h1><br />
        <nav th:replace="fragments :: navigation"></nav>
        <br />
        <h3 th:text="${title}">Default Title</h3>
        <form method="post" style="max-width: 600px;" th:object="${cheese}">
            <div class="form-group">
                <label th:for="name">Name:</label>
                <input class="form-control" th:field="*{name}" />
            </div>
            <span th:errors="*{name}" class="errors"></span>
            <div class="form-group">
                <label th:for="description">Description:</label>
                <input class="form-control" th:field="*{description}" />
            </div>
            <span th:errors="*{description}" class="errors"></span>
            <div class="form-group">
                <label th:for="type"></label>
                <select th:field="*{type}" class="form-control">
                    <option th:each="cheeseType : ${cheeseTypes}" th:text="${cheeseType.name}"
                            th:value="${cheeseType}"></option>
                </select>
            </div>
            <div class="form-group">
                <label th:for="rating"></label>
                <select th:field="*{rating}" class="form-control">
                    <option th:each="i : ${#numbers.sequence(1, 10, 1)}" th:value="${i}" th:text="${i}"></option>
                </select>
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Add Cheese" />
            </div>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>

</body>
</html>