<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h1 th:text="${title}">My Cheeses</h1><br></br>
        <nav th:replace="fragments :: navigation"></nav>
        <p th:unless="${cheeses} and ${cheeses.size()}">No cheeses :(</p>
        <table class="table table-striped table-hover">
            <thead>
            <th>Cheese</th>
            <th>Description</th>
            </thead>
            <tbody>
            <tr th:each="cheese: ${cheeses}">
                <td  th:text="${cheese.getName()}"></td>
                <td th:text="${cheese.getDescription()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-2"></div>
</div>

<script th:replace="fragments :: jQuery"></script>
<script th:replace="fragments :: popper"></script>
<script th:replace="fragments :: bootstrapJS"></script>
</body>
</html>