<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h1>My Cheeses</h1><br></br>
        <nav th:replace="fragments :: navigation"></nav>
        <h3 class="text-muted" th:text="${title}">Default Title</h3>
        <form method="post">
            <input th:each="entry: ${cheeses}" type="checkbox" name="cheese" th:value="${entry.key}" th:text="${entry.key}" />
            <input type="submit" value="Remove" />
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>

</body>
</html>

