<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h1>My Cheeses</h1><br />
        <nav th:replace="fragments :: navigation"></nav>
        <br />
        <h3 th:text="${title}">Default Title</h3>
        <form method="post" style="max-width: 600px;">
            <div class="check-box" th:each="cheese: ${cheeses}">
                <input  type="checkbox" name="cheeseIds" th:value="${cheese.cheeseId}" th:id="${cheese.cheeseId}"/>
                <label th:for="${cheese.cheeseId}" th:text="${cheese.name}"></label>
            </div>
            <br />
            <div class="form-group">
                <input class="btn btn-danger" type="submit" value="Remove" />
            </div>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>

</body>
</html>

