<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h1>Users Studio</h1><br />
        <nav th:replace="fragments :: user-navigation"></nav>
        <br />
        <h3 th:text="${title}">Default Title</h3>
        <form method="POST" style="max-width: 600px;" th:object="${user}">
            <div class="form-group">
                <label th:for="userName">Username:</label>
                <input class="form-control" type="text" th:field="*{userName}"/>
            </div>
            <span th:errors="*{userName}"></span>
            <div class="form-group">
                <label th:for="userEmail">Email:</label>
                <input class="form-control" type="email" th:field="*{userEmail}" />
            </div>
            <span th:errors="*{userEmail}"></span>
            <div class="form-group">
                <label th:for="userPassword">Password:</label>
                <input class="form-control" type="password" th:field="*{userPassword}" />
            </div>
            <span th:errors="*{userPassword}"></span>
            <div class="form-group">
                <label for="verify">Verify Password:</label>
                <input class="form-control" type="password" id="verify" name="verify" />
            </div>
            <span th:errors="*{verifyPassword}"></span>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Register" />
            </div>
        </form>
    </div>
</div>
</body>
</html>

